<div class="home">
	<div class="container">
		<h1>Nix Books</h1>
		<h3>Let your imagination loose!</h3>
		<div class="row">
			<button class="btn"><%= link_to "Write A Book", new_book_path, class: "button" %></button>
			<button class="btn"><%= link_to "Read A Book", books_path, class: "button" %></button>
		</div>
	</div>
</div>